/* conmen styles begin*/
.formControl {
	display: block;
	width: 100%;
	padding: 6px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline:none;
}
.btnSuccess {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.error{
	color: #a94442;
}
.has-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.clear{
	clear:both;
}

.back {
	background: #333953;
	background: -moz-linear-gradient(top, #3f4666, #272c40);
	background: -webkit-linear-gradient(top, #3f4666, #272c40);
	background: linear-gradient(to bottom, #3f4666, #272c40);
	display: inline-block;
	padding: 10px 0;
	color: whitesmoke;
	text-decoration: none;
	font: 14px "proxima nova", helvetica, arial, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
	width: 100%;
	text-align: center;
	cursor:pointer;
}
/* conmen styles end */

.loginWrap {
	width: 100%;
	margin: 0 auto;
}
.loginWrapBody{	
	width: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #d0d0d0;
	margin: auto;
	box-shadow: 0px 0px 5px #ddd;
	-webkit-box-shadow: 0px 0px 5px #ddd;
	-moz-box-shadow: 0px 0px 5px #ddd;
	background: #fafafa;
}
.logHead{
	text-align: center;
	padding: 5px 0;
	border-bottom: 1px solid rgb(234, 228, 228);
}
.logHead img{	
	width: 40%;
}

.logForm{
	padding: 5px 20px;
}
.logForm .row{
	padding: 5px 20px;
}
.inp_label {
	color: #777;
	margin: 0px 1px;
	font-weight: bold;
	display: block;
}

.login_btn{
	width:100%;
}
.logInfo{
	color: #777;
	padding: 20px 44px;
	border-top: 1px solid rgb(234, 228, 228);
}
.employePortel .fa{
	font-size: 6em;
}
.employePortel .column{
	float:left;
	padding: 5px;
	box-shadow: 0px 0px 5px #ddd;
	-webkit-box-shadow: 0px 0px 5px #ddd;
	-moz-box-shadow: 0px 0px 5px #ddd;
	margin: 5px;
	max-width: 48%;
	width: 50%;
	text-align: center;
	cursor:pointer;
}
.employePortel .column:nth-child(2) {
   float:right;
}
.employePortel .column .title{
	text-align: center;
	margin: 5px 0;
}
.jobDetials .title{
	float:left;
	width: 154px;
}
.jobDetials .row_1 >.row{	
	margin: 5px 0;
	border-bottom: 1px solid rgb(216, 213, 213);
}
.pages{
	display:none;
}
.pages_0{
	display:block;
}
.employePortel{
	width:100%;
	margin:auto;
}
.profilePage {
	position: relative;
	color: rgb(97, 97, 97);
}
.profilePage .image{
	text-align: center;
	height: 172px;
	overflow: hidden;
}
.profilePage .image img{
	width:13%;
	top: -16px;
	position: relative;
}
.profileInfo >.row{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	padding: 12px 5px;
}
.profileInfo .row .infoLabel{
	float:left;
	max-width: 50%;
	width: 50%;
}
.profileInfo .row .info{
	float:left;
}
/* ------------------ RESPONSIVE DESIGN ------------ */

@media screen and (max-width:1043px)  {
	.employePortel .column{
		max-width: 47%;
	}
}

@media screen and (max-width:967px)  {
	
}

@media screen and (max-width:768px) {
	
}

@media screen and (max-width:704px) {
	.employePortel .column{
		max-width: 46%;
	}
}

@media screen and (max-width:604px) {
	
}

@media screen and (max-width:568px) {
	.employePortel .column{
		max-width: 45%;
	}
}

@media screen and (max-width:480px) {
	.employePortel .column{
		max-width: 44%;
	}
}

@media screen and (max-width:365px) {
	.employePortel .column{
		max-width: 43%;
	}
}
 
@media screen and (max-width:320px) { 

}

@media screen and (max-width:240px) { 

}
